{:source
 "https://raw.githubusercontent.com/tailwindlabs/tailwindcss/main/packages/tailwindcss/src/utilities.ts",
 :utilities
 #{"-bg-conic"
   "-bg-linear"
   "-bottom"
   "-bottom-full"
   "-inset"
   "-inset-be"
   "-inset-be-full"
   "-inset-bs"
   "-inset-bs-full"
   "-inset-e"
   "-inset-e-full"
   "-inset-full"
   "-inset-s"
   "-inset-s-full"
   "-inset-x"
   "-inset-x-full"
   "-inset-y"
   "-inset-y-full"
   "-left"
   "-left-full"
   "-m"
   "-mb"
   "-mbe"
   "-mbs"
   "-me"
   "-ml"
   "-mr"
   "-ms"
   "-mt"
   "-mx"
   "-my"
   "-right"
   "-right-full"
   "-rotate"
   "-rotate-x"
   "-rotate-y"
   "-rotate-z"
   "-scale"
   "-scale-x"
   "-scale-y"
   "-scale-z"
   "-scroll-m"
   "-scroll-mb"
   "-scroll-mbe"
   "-scroll-mbs"
   "-scroll-me"
   "-scroll-ml"
   "-scroll-mr"
   "-scroll-ms"
   "-scroll-mt"
   "-scroll-mx"
   "-scroll-my"
   "-space-x"
   "-space-y"
   "-top"
   "-top-full"
   "-translate-full"
   "-translate-x"
   "-translate-x-full"
   "-translate-y"
   "-translate-y-full"
   "-translate-z"
   "-translate-z-full"
   "@container"
   "absolute"
   "accent"
   "accent-auto"
   "align"
   "align-baseline"
   "align-bottom"
   "align-middle"
   "align-sub"
   "align-super"
   "align-text-bottom"
   "align-text-top"
   "align-top"
   "animate"
   "antialiased"
   "appearance-auto"
   "appearance-none"
   "aspect"
   "auto-cols"
   "auto-rows"
   "backdrop-blur"
   "backdrop-brightness"
   "backdrop-contrast"
   "backdrop-filter"
   "backdrop-grayscale"
   "backdrop-hue-rotate"
   "backdrop-invert"
   "backdrop-opacity"
   "backdrop-saturate"
   "backdrop-sepia"
   "backface-hidden"
   "backface-visible"
   "basis"
   "basis-auto"
   "basis-full"
   "bg"
   "bg-auto"
   "bg-bottom"
   "bg-bottom-left"
   "bg-bottom-right"
   "bg-center"
   "bg-clip-border"
   "bg-clip-content"
   "bg-clip-padding"
   "bg-clip-text"
   "bg-conic"
   "bg-contain"
   "bg-cover"
   "bg-fixed"
   "bg-left"
   "bg-linear"
   "bg-local"
   "bg-no-repeat"
   "bg-none"
   "bg-origin-border"
   "bg-origin-content"
   "bg-origin-padding"
   "bg-position"
   "bg-radial"
   "bg-repeat"
   "bg-repeat-round"
   "bg-repeat-space"
   "bg-repeat-x"
   "bg-repeat-y"
   "bg-right"
   "bg-scroll"
   "bg-size"
   "bg-top"
   "bg-top-left"
   "bg-top-right"
   "block"
   "block-auto"
   "block-fit"
   "block-full"
   "block-max"
   "block-min"
   "blur"
   "border"
   "border-b"
   "border-be"
   "border-bs"
   "border-collapse"
   "border-dashed"
   "border-dotted"
   "border-double"
   "border-e"
   "border-hidden"
   "border-l"
   "border-none"
   "border-r"
   "border-s"
   "border-separate"
   "border-solid"
   "border-spacing"
   "border-spacing-x"
   "border-spacing-y"
   "border-t"
   "border-x"
   "border-y"
   "bottom"
   "bottom-auto"
   "bottom-full"
   "box-border"
   "box-content"
   "box-decoration-clone"
   "box-decoration-slice"
   "break-all"
   "break-keep"
   "break-normal"
   "brightness"
   "capitalize"
   "caption-bottom"
   "caption-top"
   "caret"
   "clear-both"
   "clear-end"
   "clear-left"
   "clear-none"
   "clear-right"
   "clear-start"
   "col"
   "col-end"
   "col-span"
   "col-start"
   "collapse"
   "columns"
   "contain"
   "contain-content"
   "contain-inline-size"
   "contain-layout"
   "contain-none"
   "contain-paint"
   "contain-size"
   "contain-strict"
   "contain-style"
   "container"
   "content"
   "content-around"
   "content-baseline"
   "content-between"
   "content-center"
   "content-center-safe"
   "content-end"
   "content-end-safe"
   "content-evenly"
   "content-none"
   "content-normal"
   "content-start"
   "content-stretch"
   "contents"
   "contrast"
   "cursor"
   "decoration"
   "decoration-auto"
   "decoration-dashed"
   "decoration-dotted"
   "decoration-double"
   "decoration-from-font"
   "decoration-solid"
   "decoration-wavy"
   "delay"
   "diagonal-fractions"
   "divide"
   "divide-x"
   "divide-x-reverse"
   "divide-y"
   "divide-y-reverse"
   "drop-shadow"
   "drop-shadow-none"
   "duration"
   "duration-initial"
   "ease"
   "field-sizing-content"
   "field-sizing-fixed"
   "fill"
   "fill-none"
   "filter"
   "fixed"
   "flex"
   "flex-auto"
   "flex-col"
   "flex-col-reverse"
   "flex-initial"
   "flex-none"
   "flex-nowrap"
   "flex-row"
   "flex-row-reverse"
   "flex-wrap"
   "flex-wrap-reverse"
   "float-end"
   "float-left"
   "float-none"
   "float-right"
   "float-start"
   "flow-root"
   "font"
   "font-features"
   "font-stretch"
   "font-stretch-condensed"
   "font-stretch-expanded"
   "font-stretch-extra-condensed"
   "font-stretch-extra-expanded"
   "font-stretch-normal"
   "font-stretch-semi-condensed"
   "font-stretch-semi-expanded"
   "font-stretch-ultra-condensed"
   "font-stretch-ultra-expanded"
   "forced-color-adjust-auto"
   "forced-color-adjust-none"
   "gap"
   "gap-x"
   "gap-y"
   "grayscale"
   "grid"
   "grid-cols"
   "grid-flow-col"
   "grid-flow-col-dense"
   "grid-flow-dense"
   "grid-flow-row"
   "grid-flow-row-dense"
   "grid-rows"
   "grow"
   "h-auto"
   "h-dvh"
   "h-dvw"
   "h-fit"
   "h-full"
   "h-lvh"
   "h-lvw"
   "h-max"
   "h-min"
   "h-svh"
   "h-svw"
   "hidden"
   "hue-rotate"
   "hyphens-auto"
   "hyphens-manual"
   "hyphens-none"
   "indent"
   "inline"
   "inline-auto"
   "inline-block"
   "inline-fit"
   "inline-flex"
   "inline-full"
   "inline-grid"
   "inline-max"
   "inline-min"
   "inline-table"
   "inset"
   "inset-auto"
   "inset-be"
   "inset-be-auto"
   "inset-be-full"
   "inset-bs"
   "inset-bs-auto"
   "inset-bs-full"
   "inset-e"
   "inset-e-auto"
   "inset-e-full"
   "inset-full"
   "inset-ring"
   "inset-s"
   "inset-s-auto"
   "inset-s-full"
   "inset-shadow"
   "inset-shadow-initial"
   "inset-x"
   "inset-x-auto"
   "inset-x-full"
   "inset-y"
   "inset-y-auto"
   "inset-y-full"
   "invert"
   "invisible"
   "isolate"
   "isolation-auto"
   "italic"
   "items-baseline"
   "items-baseline-last"
   "items-center"
   "items-center-safe"
   "items-end"
   "items-end-safe"
   "items-start"
   "items-stretch"
   "justify-around"
   "justify-baseline"
   "justify-between"
   "justify-center"
   "justify-center-safe"
   "justify-end"
   "justify-end-safe"
   "justify-evenly"
   "justify-items-center"
   "justify-items-center-safe"
   "justify-items-end"
   "justify-items-end-safe"
   "justify-items-normal"
   "justify-items-start"
   "justify-items-stretch"
   "justify-normal"
   "justify-self-auto"
   "justify-self-center"
   "justify-self-center-safe"
   "justify-self-end"
   "justify-self-end-safe"
   "justify-self-start"
   "justify-self-stretch"
   "justify-start"
   "justify-stretch"
   "leading"
   "left"
   "left-auto"
   "left-full"
   "line-clamp"
   "line-through"
   "lining-nums"
   "list"
   "list-image"
   "list-inside"
   "list-item"
   "list-outside"
   "lowercase"
   "m"
   "m-auto"
   "mask"
   "mask-add"
   "mask-alpha"
   "mask-auto"
   "mask-bottom"
   "mask-bottom-left"
   "mask-bottom-right"
   "mask-center"
   "mask-circle"
   "mask-clip-border"
   "mask-clip-content"
   "mask-clip-fill"
   "mask-clip-padding"
   "mask-clip-stroke"
   "mask-clip-view"
   "mask-conic"
   "mask-contain"
   "mask-cover"
   "mask-ellipse"
   "mask-exclude"
   "mask-intersect"
   "mask-left"
   "mask-linear"
   "mask-luminance"
   "mask-match"
   "mask-no-clip"
   "mask-no-repeat"
   "mask-none"
   "mask-origin-border"
   "mask-origin-content"
   "mask-origin-fill"
   "mask-origin-padding"
   "mask-origin-stroke"
   "mask-origin-view"
   "mask-position"
   "mask-radial"
   "mask-radial-at"
   "mask-radial-at-bottom"
   "mask-radial-at-bottom-left"
   "mask-radial-at-bottom-right"
   "mask-radial-at-center"
   "mask-radial-at-left"
   "mask-radial-at-right"
   "mask-radial-at-top"
   "mask-radial-at-top-left"
   "mask-radial-at-top-right"
   "mask-radial-closest-corner"
   "mask-radial-closest-side"
   "mask-radial-farthest-corner"
   "mask-radial-farthest-side"
   "mask-repeat"
   "mask-repeat-round"
   "mask-repeat-space"
   "mask-repeat-x"
   "mask-repeat-y"
   "mask-right"
   "mask-size"
   "mask-subtract"
   "mask-top"
   "mask-top-left"
   "mask-top-right"
   "mask-type-alpha"
   "mask-type-luminance"
   "max-block-auto"
   "max-block-fit"
   "max-block-full"
   "max-block-max"
   "max-block-min"
   "max-h-auto"
   "max-h-dvh"
   "max-h-dvw"
   "max-h-fit"
   "max-h-full"
   "max-h-lvh"
   "max-h-lvw"
   "max-h-max"
   "max-h-min"
   "max-h-svh"
   "max-h-svw"
   "max-inline-auto"
   "max-inline-fit"
   "max-inline-full"
   "max-inline-max"
   "max-inline-min"
   "max-w-auto"
   "max-w-dvh"
   "max-w-dvw"
   "max-w-fit"
   "max-w-full"
   "max-w-lvh"
   "max-w-lvw"
   "max-w-max"
   "max-w-min"
   "max-w-svh"
   "max-w-svw"
   "mb"
   "mb-auto"
   "mbe"
   "mbe-auto"
   "mbs"
   "mbs-auto"
   "me"
   "me-auto"
   "min-block-auto"
   "min-block-fit"
   "min-block-full"
   "min-block-max"
   "min-block-min"
   "min-h-auto"
   "min-h-dvh"
   "min-h-dvw"
   "min-h-fit"
   "min-h-full"
   "min-h-lvh"
   "min-h-lvw"
   "min-h-max"
   "min-h-min"
   "min-h-svh"
   "min-h-svw"
   "min-inline-auto"
   "min-inline-fit"
   "min-inline-full"
   "min-inline-max"
   "min-inline-min"
   "min-w-auto"
   "min-w-dvh"
   "min-w-dvw"
   "min-w-fit"
   "min-w-full"
   "min-w-lvh"
   "min-w-lvw"
   "min-w-max"
   "min-w-min"
   "min-w-svh"
   "min-w-svw"
   "mix-blend-plus-darker"
   "mix-blend-plus-lighter"
   "ml"
   "ml-auto"
   "mr"
   "mr-auto"
   "ms"
   "ms-auto"
   "mt"
   "mt-auto"
   "mx"
   "mx-auto"
   "my"
   "my-auto"
   "no-underline"
   "normal-case"
   "normal-nums"
   "not-italic"
   "not-sr-only"
   "object"
   "object-contain"
   "object-cover"
   "object-fill"
   "object-none"
   "object-scale-down"
   "oldstyle-nums"
   "opacity"
   "order"
   "ordinal"
   "origin"
   "outline"
   "outline-dashed"
   "outline-dotted"
   "outline-double"
   "outline-hidden"
   "outline-none"
   "outline-offset"
   "outline-solid"
   "overline"
   "p"
   "pb"
   "pbe"
   "pbs"
   "pe"
   "perspective"
   "perspective-origin"
   "pl"
   "place-content-around"
   "place-content-baseline"
   "place-content-between"
   "place-content-center"
   "place-content-center-safe"
   "place-content-end"
   "place-content-end-safe"
   "place-content-evenly"
   "place-content-start"
   "place-content-stretch"
   "place-items-baseline"
   "place-items-center"
   "place-items-center-safe"
   "place-items-end"
   "place-items-end-safe"
   "place-items-start"
   "place-items-stretch"
   "place-self-auto"
   "place-self-center"
   "place-self-center-safe"
   "place-self-end"
   "place-self-end-safe"
   "place-self-start"
   "place-self-stretch"
   "placeholder"
   "pointer-events-auto"
   "pointer-events-none"
   "pr"
   "proportional-nums"
   "ps"
   "pt"
   "px"
   "py"
   "relative"
   "resize"
   "resize-none"
   "resize-x"
   "resize-y"
   "right"
   "right-auto"
   "right-full"
   "ring"
   "ring-inset"
   "ring-offset"
   "rotate"
   "rotate-none"
   "rotate-x"
   "rotate-y"
   "rotate-z"
   "rounded"
   "rounded-b"
   "rounded-b-full"
   "rounded-b-none"
   "rounded-bl"
   "rounded-bl-full"
   "rounded-bl-none"
   "rounded-br"
   "rounded-br-full"
   "rounded-br-none"
   "rounded-e"
   "rounded-e-full"
   "rounded-e-none"
   "rounded-ee"
   "rounded-ee-full"
   "rounded-ee-none"
   "rounded-es"
   "rounded-es-full"
   "rounded-es-none"
   "rounded-full"
   "rounded-l"
   "rounded-l-full"
   "rounded-l-none"
   "rounded-none"
   "rounded-r"
   "rounded-r-full"
   "rounded-r-none"
   "rounded-s"
   "rounded-s-full"
   "rounded-s-none"
   "rounded-se"
   "rounded-se-full"
   "rounded-se-none"
   "rounded-ss"
   "rounded-ss-full"
   "rounded-ss-none"
   "rounded-t"
   "rounded-t-full"
   "rounded-t-none"
   "rounded-tl"
   "rounded-tl-full"
   "rounded-tl-none"
   "rounded-tr"
   "rounded-tr-full"
   "rounded-tr-none"
   "row"
   "row-end"
   "row-span"
   "row-start"
   "saturate"
   "scale"
   "scale-3d"
   "scale-none"
   "scale-x"
   "scale-y"
   "scale-z"
   "scheme-dark"
   "scheme-light"
   "scheme-light-dark"
   "scheme-normal"
   "scheme-only-dark"
   "scheme-only-light"
   "scroll-auto"
   "scroll-m"
   "scroll-mb"
   "scroll-mbe"
   "scroll-mbs"
   "scroll-me"
   "scroll-ml"
   "scroll-mr"
   "scroll-ms"
   "scroll-mt"
   "scroll-mx"
   "scroll-my"
   "scroll-p"
   "scroll-pb"
   "scroll-pbe"
   "scroll-pbs"
   "scroll-pe"
   "scroll-pl"
   "scroll-pr"
   "scroll-ps"
   "scroll-pt"
   "scroll-px"
   "scroll-py"
   "scroll-smooth"
   "self-auto"
   "self-baseline"
   "self-baseline-last"
   "self-center"
   "self-center-safe"
   "self-end"
   "self-end-safe"
   "self-start"
   "self-stretch"
   "sepia"
   "shadow"
   "shadow-initial"
   "shrink"
   "size"
   "size-auto"
   "size-dvh"
   "size-dvw"
   "size-fit"
   "size-full"
   "size-lvh"
   "size-lvw"
   "size-max"
   "size-min"
   "size-svh"
   "size-svw"
   "skew"
   "skew-x"
   "skew-y"
   "slashed-zero"
   "snap-align-none"
   "snap-always"
   "snap-center"
   "snap-end"
   "snap-mandatory"
   "snap-none"
   "snap-normal"
   "snap-proximity"
   "snap-start"
   "space-x"
   "space-x-reverse"
   "space-y"
   "space-y-reverse"
   "sr-only"
   "stacked-fractions"
   "static"
   "sticky"
   "stroke"
   "stroke-none"
   "subpixel-antialiased"
   "table"
   "table-auto"
   "table-caption"
   "table-cell"
   "table-column"
   "table-column-group"
   "table-fixed"
   "table-footer-group"
   "table-header-group"
   "table-row"
   "table-row-group"
   "tabular-nums"
   "text"
   "text-balance"
   "text-center"
   "text-clip"
   "text-ellipsis"
   "text-end"
   "text-justify"
   "text-left"
   "text-nowrap"
   "text-pretty"
   "text-right"
   "text-shadow"
   "text-shadow-initial"
   "text-start"
   "text-wrap"
   "top"
   "top-auto"
   "top-full"
   "touch-pinch-zoom"
   "tracking"
   "transform"
   "transform-3d"
   "transform-border"
   "transform-content"
   "transform-cpu"
   "transform-fill"
   "transform-flat"
   "transform-gpu"
   "transform-none"
   "transform-stroke"
   "transform-view"
   "transition"
   "transition-discrete"
   "transition-normal"
   "translate"
   "translate-3d"
   "translate-full"
   "translate-none"
   "translate-x"
   "translate-x-full"
   "translate-y"
   "translate-y-full"
   "translate-z"
   "translate-z-full"
   "truncate"
   "underline"
   "underline-offset"
   "uppercase"
   "via-none"
   "visible"
   "w-auto"
   "w-dvh"
   "w-dvw"
   "w-fit"
   "w-full"
   "w-lvh"
   "w-lvw"
   "w-max"
   "w-min"
   "w-svh"
   "w-svw"
   "whitespace-break-spaces"
   "whitespace-normal"
   "whitespace-nowrap"
   "whitespace-pre"
   "whitespace-pre-line"
   "whitespace-pre-wrap"
   "will-change"
   "will-change-auto"
   "will-change-contents"
   "will-change-scroll"
   "will-change-transform"
   "wrap-anywhere"
   "wrap-break-word"
   "wrap-normal"
   "z"}}
